@import url('global.css');

.todo{
    width: 1130px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
#voltar{
    width: 20px;
    height: 20px;
    margin-bottom: 61px;
}
#titulo{
    width: 100%;
    height: 25px;
    margin-bottom: 70px;
}
#titulo svg{
    float: left;
    margin-top: 5px;
}
#titulo h1{
    margin: 0 0 0 10px;
    float: left;
    font-size: 25px;
    color: #166CD0;

}
.listar{
    width: 617px;
    height: 341px;
    padding: 40px 0 0 30px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    float: left;
}
.listar h1{
    margin: 0 0 5px 0;
    font-size: 25px;
    color: #546582;
}
.listar h3{
    margin: 0 0 50px 0;
    font-size: 16px;
    font-weight: normal;
    color: #546582;
}
.listar input[type="submit"]{
    width: 251px;
    height: 60px;
    background: #1CC4BF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 15.5px;
}
.listar input[type="submit"]:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
.listar input[type="submit"]:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
    color: #fff;
}
.listar button{
    width: 188px;
    height: 60px;
    background: none;
    border: none;
    color: rgba(84, 101, 130, 0.5);
}
.data{
    width: 221px;
    height: 47px;
    margin: 0 30px 30px 0;
    padding: 10px 0 0 17px;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
    float: left;
}
.data:hover{
    border: 1.4px solid #858FA1;
}
.data p{
    margin: 0 0 5px 0; 
    font-size: 10px;
    color: #B9BFC9;
}
.data input[type="date"]{
    width: 200px;
    border: none;
    font-size: 14px;
    color: #B9BFC9;
}
.tabela{
    width: 420px;
    height: 431px;
    padding: 40px 0 0 30px;
    margin-left: 20px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    float: left;
}
/*scroll tabela*/
#tbNot tbody::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
#tbNot tbody::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #E8E8E8; 
border-radius: 10px;
}
   
/* Handle */
#tbNot tbody::-webkit-scrollbar-thumb {
background: #546582; 
}
  
/* Handle on hover */
#tbNot tbody::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
/*fim scroll*/
#tbNot{
    width: 370px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    color: #546582;
}
#tbNot thead{
    width: 372px;
    height: 30px;
    display: inline-block;
}
#tbNot thead tr{
    height: 30px;
}
#tbNot tbody{
    width: 372px;
    height: 360px;
    padding-right: 20px;
    display: inline-block;
    overflow: auto;
}
#tbNot tr{
    width: 372px;
    height: 60px;
    border-bottom: 1.4px solid rgba(80, 95, 121, 0.1);
}
#tbNot th{
    font-weight: 500;
    padding: 0;
    color: rgba(84, 101, 130, 0.3);
}
#tbNot td{
    padding: 0;
}
#nomeTb {
    width: 233px;
}
#nomeTb img{
    width: 40px;
    height: 40px;
}
#nomeTb img, #nomeTb p{
    float: left;
}
#nomeTb p{
    margin: 12.222px 0 0 10px;
    font-weight: bold;
    color: #546582;
}
#dataTb{
    width: 160px;
}
