@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    list-style: none;
    border:0;
    text-align: justify;
    color:#546582;
}
body{
    height:200vh;
}
#container-landing{
    max-width: 1250px;
    margin: 0 auto;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:33px 0 0 0;
    margin-bottom:73.56px;
}
#container-landing ul li{
    display: inline;
    padding: 0 30px;
    color:#546582;
    font:normal 16px 'Mulish', sans-serif;
    cursor:pointer;
}
#container-landing ul li:not(li:nth-child(3)){
    position:relative;
    bottom:13px;
}
#container-landing ul li span{
    margin-left:20px;
    position:relative;
    bottom:4px;
}
#container-landing .form-container{
    margin:70px 0 20px 0;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    padding:20px 28px;
    width:100%;
    border-radius:8px;
}
#container-landing .form-container h3{
    font:700 25px 'Mulish', sans-serif;
    color:#546582;
    margin-bottom:38px;
}
#container-landing form .first-block, .second-block,
.third-block{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#container-landing form .first-block, .second-block, .third-block{
    margin-bottom:15px;
}
#container-landing form .second-block .input-block:nth-child(1){
    display: flex;
    flex-direction: row;
    padding:20px 10px;
}
#container-landing form .second-block .input-block:nth-child(1) div{
    display: flex;
    flex-direction: row;
}
#container-landing form .second-block .input-block:nth-child(1) div > span{
    margin-right:15px;
}
#container-landing form .first-block .input-block:nth-child(2){
    background:#F4F9FF;
}
#container-landing form .first-block .input-block:nth-child(4),
#container-landing form .first-block .input-block:nth-child(5){
    width:520px;
}
#container-landing form .third-block .input-block:nth-child(1){
    width:221px;
}
#container-landing form .third-block .input-block:nth-child(3){
    width:200px;
}
#container-landing form .first-block .input-block:nth-child(4) select,
#container-landing form .first-block .input-block:nth-child(5) select{
    width:100%;
}
#container-landing form .input-block{
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
    padding: 10px 8px;
    width:100%;
}
#container-landing form .input-block:not(.input-block:last-child){
    margin-right:15px;
}
#container-landing form .input-block p:first-child{
    margin-bottom:5px;
    font: normal 10px 'Mulish', sans-serif;
    color:#B9BFC9;
}
#container-landing form .input-block p:last-child{
    font: normal 14px 'Mulish', sans-serif;
    color:#858FA1;
    line-height:20px;
}
#container-landing form .third-block .input-block:nth-child(2){
    width:300px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font:normal 16px 'Mulish', sans-serif;
    color:#546582;
}
#container-landing form input[type="checkbox"]{
    margin-right:15px;
}
#container-landing input[type="submit"]{
    background:#1CC4BF;
    color:#fff;
    border:0;
    font:700 15px 'Mulish', sans-serif;
    padding: 20px 45px;
    border-radius:8px;
    cursor:pointer;
    width:235px;
    text-align: center;
}
#container-landing input[type="submit"]:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
#container-landing .table-patience-list{
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    padding:20px 28px;
    border-radius:8px;
    height: 320px;
}
#container-landing .table-patience-list h3{
    font:bold 25px 'Mulish', sans-serif;
    color:#546582;
    margin-bottom:27px;
}
#container-landing .table-patience-list thead{
    color:rgba(80, 95, 121, 0.3);
}
#container-landing .table-patience-list thead tr td:first-child{
    padding-right:23px;
}
#container-landing .table-patience-list .scroll{
    height:200px;
    overflow: auto;
}
#container-landing .table-patience-list .scroll::-webkit-scrollbar {
    width: 2px;
}
#container-landing .table-patience-list .scroll::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #E8E8E8; 
border-radius: 10px;
}
#container-landing .table-patience-list .scroll::-webkit-scrollbar-thumb {
background: #546582; 
}
#container-landing .table-patience-list .scroll::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
#container-landing .table-patience-list table{
    color:#546582;
    font:normal 16px 'Mulish', sans-serif;
    width:100%;
    border-bottom:1px solid rgba(84, 101, 130, 0.1);
    margin-bottom:15px;
}
#container-landing table tbody td{
    padding:15px 0;
}
#container-landing .description, #container-landing .meaning-arrow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#container-landing .description h4{
    font-size: 18px;
    color:#546582;
    margin-right:12px;
}
#container-landing .green_purple svg{
    margin:0 23px 0 21px;
}
#container-landing table tbody td:first-child{
    padding-right:15px;
}
#container-landing form .second-block .input-block:nth-child(4),
#container-landing form .second-block .input-block:nth-child(5){
    width:500px;
}

#container-landing input[type="radio"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: none;
    color: #fff;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
  }
  #container-landing input[type="radio"]{
      height: 20px;
      width: 20px;
      border: 1.4px solid #1CC4BF;
  }
  
  #container-landing input[type="radio"]:checked{
      background: #1CC4BF;
      border: none;
  }
  #container-landing input[type="radio"]:checked::before{
    position: absolute;
    content: '✔';
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  #container-landing input[type="radio"]:checked::before{
      height: 20px;
      width: 20px;
      font-size: 13px;
      line-height: 20px;
  }
  #container-landing input[type="radio"]{
    border-radius: 100px;
  }
