@import url('global.css');

.todo{
    width: 1130px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
#voltar{
    width: 20px;
    height: 20px;
    margin-bottom: 61px;
}
#titulo{
    width: 100%;
    height: 25px;
    margin-bottom: 85px;
}
#titulo svg{
    float: left;
    margin-top: 5px;
}
#titulo h1{
    margin: 0 0 0 10px;
    float: left;
    font-size: 25px;
    color: #166CD0;
}
.listaFeed{
    float: left;
}
.listaFeed{
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
}
.listaFeed{
    width: 549px;
    height: 451px;
    padding: 20px 0 0 30px;
}
/*scroll tabela*/
#tbNot tbody::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
#tbNot tbody::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #E8E8E8; 
border-radius: 10px;
}
   
/* Handle */
#tbNot tbody::-webkit-scrollbar-thumb {
background: #546582; 
}
  
/* Handle on hover */
#tbNot tbody::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
/*fim scroll*/
#tbNot{
    width: 530px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    color: #546582;
}
#tbNot thead{
    width: 500px;
    height: 20px;
    display: inline-block;
    margin-bottom: 10px;
}
#tbNot thead tr{
    height: 20px;
}
#tbNot tbody{
    width: 520px;
    height: 360px;
    display: inline-block;
    overflow: auto;
}
#tbNot tr{
    width: 500px;
    height: 60px;
}
#tbNot th{
    font-weight: 500;
    color: rgba(84, 101, 130, 0.3);
}
#tbNot td{
    padding: 0;
}

#nomeTb {
    width: 220px;
}
#nomeTb img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#nomeTb img, #nomeTb p{
    float: left;
}
#nomeTb p{
    margin: 12.222px 0 0 10px;
    font-weight: bold;
}
#dataTb{
    width: 195px;
    color: #546582;
}
#pnt{
    width: 88px;
    height: 23px;
    padding-top: 7px;
    border-radius: 6px;
    text-align: center;
    background: #546582;
    color: #fff;
}

.direitaFeed{
    margin-left: 30px;
    float: left;
}
.dadosFeed{
    width: 484px;
    height: 366px;
    padding: 50px 0 0 30px;
    background: rgba(133, 143, 161, 0.08);
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    color: #546582;
}
.dadosFeed h4{
    width: 130px;
    font-size: 16px;
    font-weight: 500;
    color: #1CC4BF;
    margin-bottom: 33px;
}
.dadosFeed h3{
    width: 130px;
    font-size: 16px;
    margin: 33px 0 13px 0;
}
.dadosFeed p{
    width: 457px;
    font-size: 14px;
}
.dadosCli{
    width: 315px;
    height: 60px;
    margin: 0 50px 45px 0;
    float: left;
}
.dadosCli img, .dadosCli h3, .dadosCli p{
    float: left;
}
.dadosCli img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 16px 15px 0;
}
.dadosCli h3, .dadosCli p{
    width: 200px;
    font-size: 14px;
    margin: 0 0 5px 0;
}
.ptnFeed{
    width: 88px;
    height: 23px;
    padding-top: 7px;
    margin-top: 5px;
    border-radius: 6px;
    float: left;
    text-align: center;
    font-size: 14px;
    background: #546582;
    color: #fff;
}
.opcs {
    width: 487px;
    margin: 25px 0 0 30px;
}
.opcs button, .opcs svg, .opcs p{
    float: left;
}
.opcs p{
    margin: 2px 10px 0 10px;
    font-weight: bold;
    font-size: 14px;
    color: #505F79;
}
.opcs button{
    background: none;
    border: none;
}
.meioBtns{
    width: 280px;
    height: 20px;
    float: left;
}