@import url('global.css');

.todo{
    width: 1130px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
#voltar{
    width: 20px;
    height: 20px;
    margin-bottom: 61px;
}
#titulo{
    width: 100%;
    height: 25px;
    margin-bottom: 85px;
}
#titulo svg{
    float: left;
    margin-top: 5px;
}
#titulo h1{
    margin: 0 0 0 10px;
    float: left;
    font-size: 25px;
    color: #166CD0;
}
.filtroLista, .listaConsul{
    float: left;
}
.filtroLista, .listaConsul, .dataDe , .dataAte{
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
}
.filtroLista:hover, .listaConsul:hover, .dataDe:hover, .dataAte:hover{
    border: 1.4px solid #858FA1;
}
.filtroLista{
    width: 279px;
    height: 421px;
    margin-right: 30px;
    padding: 50px 0 0 30px;
}
.filtroLista h1, .filtroLista h3, .filtroLista p{
    margin: 0;
}
.filtroLista h1, .filtroLista h3{
    color: #546582;
}
.filtroLista h1{
    font-size: 25px;
}
.filtroLista h3{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 54px;
}
.filtroLista p{
    padding-bottom: 7px;
    font-size: 10px;
    color: #B9BFC9;
}
.dataDe , .dataAte{
    width: 231px;
    height: 50px;
    padding: 10px 0 0 17px;
    margin-bottom: 20px;
}
.dataDe input[type="date"], .dataAte input[type="date"]{
    width: 215px;
    height: 20px;
    border: none;
    font-size: 15px;
}
.filtroLista input[type="submit"]{
    width: 251px;
    height: 60px;
    background: #1CC4BF;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 14px;
}
.filtroLista input[type='submit']:hover, .msgForm button:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
.filtroLista input[type='submit']:focus, .msgForm button:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
}
.filtroLista button{
    width: 150px;
    height: 20px;
    margin: 33px 0 0 50px;
    background: none;
    border: none;
    color: rgba(84, 101, 130, 0.5);
    font-size: 15.5px;
}
.listaConsul{
    width: 754px;
    height: 451px;
    padding: 20px 0 0 30px;
}
/*scroll tabela*/
#tbNot tbody::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
#tbNot tbody::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #E8E8E8; 
border-radius: 10px;
}
   
/* Handle */
#tbNot tbody::-webkit-scrollbar-thumb {
background: #546582; 
}
  
/* Handle on hover */
#tbNot tbody::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
/*fim scroll*/
#tbNot{
    width: 730px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    color: #546582;
}
#tbNot thead{
    width: 720px;
    height: 60px;
    display: inline-block;
}
#tbNot tbody{
    width: 730px;
    height: 360px;
    display: inline-block;
    overflow: auto;
}
#tbNot tr{
    height: 60px;
    border-bottom: 1.4px solid rgba(84, 101, 130, 0.1);
}
#tbNot th{
    font-weight: 500;
    color: rgba(84, 101, 130, 0.3);
}

#nomeTb {
    width: 204px;
}
#nomeTb img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#nomeTb img, #nomeTb p{
    float: left;
}
#nomeTb p{
    margin: 12.222px 0 0 10px;
    font-weight: bold;
}
#dataTb{
    width: 175px;
}
#medTb{
    width: 127px;
}
#consulTb{
    width: 103px;
}
#espeTb{
    width: 94px;
}