@import url('global.css');

.todo{
    width: 1130px;
    height: 1024.3px;
    margin: 56px auto 0 auto;
    font-family: 'Mulish', sans-serif;
}
.esquerda, .meio{
    margin-right: 20px;
    float: left;
}
.esquerda{
    width: 425px;
    height: 588px;
}
.arco{
    width: 422px;
    height: 281px;
    margin-bottom: 20px;
    background-image: url(/web/imagens/Ellipse53.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    color: #546582;
    text-align: center;
}
.arco h1{
    margin: 132px 0 0 0;
    font-weight: 800;
    font-size: 40.5px;
}
.arco p{
    margin: 0;
}
.notifi{
    width: 381px;
    height: 260px; 
    padding: 20px 20px 0 21px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
}
.notifi h2{
    color: #505F79;
    font-size: 17px;
    float: left;
    margin: 0 187px 33px 0;
}
.notifi h4{
    float: left;
    margin: 3px 0 35px 0;
    font-size: 14px;
    font-weight: normal;
}
#calendario{
    float: left;
    margin: 2px 7px 0 0;
}
.txtnot{
    width: 384px;
    height: 146px;
    overflow: auto;
    font-size: 13px;
    color: #505F79;
}
/*scroll*/
.txtnot::-webkit-scrollbar {
    width: 2px;
}

/* Track */
.txtnot::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #E8E8E8; 
    border-radius: 10px;
}

/* Handle */
.txtnot::-webkit-scrollbar-thumb {
    background: #546582; 
}

/* Handle on hover */
.txtnot::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
/*fim scroll*/

hr{
    width: 384px;
    margin: 14px 0 8px 0;
    border: 1px solid rgba(133, 143, 161, 0.1);
}
.notifi button{
    width: 11px;
    height: 18px;
    float: left;
    background-color: transparent;
    border: transparent;
    padding: 0;
}
.numNot{
    width: 36px;
    height: 20px;
    margin: 0 161px;
    float: left;
}
.numNot p{
    margin: 4px 0 0 0;
    float: left;
    font-size: 14px;
    color: #505F79;
}
.meio{
    width: 402px;
    height: 556px;
    padding: 29px 0 0 20px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
}
.meio h1{
    margin: 30px 0 5px 0;
    font-size: 18px;
    color: #546582;
}
.meio p{
    font-size: 14px;
    color: rgba(84, 101, 130, 0.7);
    margin: 0 0 20px 0;
}
.meio h2{
    font-size: 18px;
    color: #166CD0;
    margin: 0 0 20px 0;
}
.infoProj{
    margin-bottom: 25px;
}
.infoProj svg{
    width: 15px;
    height: 15px;
    float: left;
    margin: 0 17px 0 0;
}
.resultados{
    width: 359px;
    height: 28px;
    padding: 12px 0 0 20px;
    margin: 5px 0 0 0;
    background: rgba(0, 82, 204, 0.1);
    border-radius: 8px;
}
.resultados p{
    font-size: 16px;
    font-weight: 600;
    color: #166CD0;
}
.direita{
    float: left;
}
.links{
    width: 220px;
    height: 112px;
    padding: 20px 0 0 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.links h3{
    margin: 24px 0 0 0;
    font-size: 18px;
}
.links p{
    margin: 0;
    font-size: 14px;
}
#console{
    background: #D3ADF8;
    color: #360863;
}
#agenda{
    background: #92D5FF;
    color: #0D486E;
}
#proj{
    background: #88E7DF;
    color: #0B4843;
}
#lista{
    background: #FFBB96;
    color: #652B0B;
}
