@import url('global.css');

.todo{
    width: 1130px;
    height: 1024.3px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
#voltar{
    width: 20px;
    height: 20px;
    margin-bottom: 127px;
}

.proj{
    width: 698px;
    float: left;

}
.proj h1, .prinDoen h1{
    font-size: 22px;
    color: #505F79;
}
.proj h1{
    width: 470px;
    margin: 0 0 38px 0;
}
.prinDoen h1{
    width: 389px;
    margin: 0 0 20px 0;
}
.proj h2{
    margin: 0 0 35px 0;
    font-size: 18px;
    color: #546582;
}
.dirProj, .esqProj{
    height: 522px;
    float: left;
}
.dirProj{
    width: 272px;
    margin-right: 19px;
}
.esqProj{
    width: 366px;
}

.lucro, .meta, .inicio, .termino, .intervalo{
    width: 252px;
    margin-bottom: 20px;
    padding: 10px 0 0 17px;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.lucro, .meta, .inicio, .termino, .diasSemana, .interloTempo, .especialidade{
    height: 47px;
}
.lucro:hover, .meta:hover, .inicio:hover, .termino:hover, .intervalo:hover , .diasSemana:hover, .quaisDias:hover, .interloTempo:hover, .especialidade:hover{
    border: 1.4px solid #858FA1;
}
.lucro p, .meta p, .inicio p, .termino p, .intervalo p, .diasSemana p, .interloTempo p, .especialidade p{
    font-size: 10px;
    color: #B9BFC9;
    margin: 0 0 5px 0;
}
.lucro input[type="text"], .meta input[type="text"], .inicio input[type="time"], .termino input[type="time"]{
    width: 235px;
    height: 27px;
    font-size: 14px;
    border: none;
}
.lucro input[type="text"]::placeholder, .meta input[type="text"]::placeholder{
    color: #858FA1;
}
.intervalo h4{
    width: 220px;
    margin: 0 0 20px 0;
    font-size: 14px;
    font-weight: normal;
    color: #858FA1;
}
.intervalo {
    height: 158px;
}
.diasSemana, .quaisDias, .interloTempo{
    width: 346px;
    margin-bottom: 20px;
    padding: 10px 0 0 17px;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.diasSemana select, .interloTempo select{
    width: 330px;
    height: 27px;
    font-size: 14px;
    border: none;
}
.quaisDias{
    height: 165px;
}
.quaisDias p{
    width: 248px;
    margin: 20px 0 20px 0;
    font-size: 14px;
    font-weight: normal;
    color: #858FA1;
}
.meio{
    margin: 0 10px;
    float: left;
}
.esqProj input[type="submit"]{
    width: 366px;
    height: 60px;
    background: #1CC4BF;
    border: none;
    border-radius: 8px;
    color: #fff;
}
.esqProj input[type="submit"]:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
.esqProj input[type="submit"]:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
    color: #fff;
}

.esqProj button{
    width: 366px;
    height: 60px;
    background: none;
    border: none;
    border-radius: 8px;
    color: rgba(84, 101, 130, 0.5);
}

hr{
    width: 658px;
    border: 1px solid rgba(84, 101, 130, 0.1);
    margin: 0 0 40px 0;
}
.calendario{
    width: 658px;
    height: 115px;
    padding-top: 20px;
    border: 1.4px solid rgba(133, 143, 161, 0.1);
    border-radius: 8px;
}
/*scroll tabela*/
#tbNot tbody::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
#tbNot tbody::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px #E8E8E8; 
border-radius: 10px;
}
   
/* Handle */
#tbNot tbody::-webkit-scrollbar-thumb {
background: #546582; 
}
  
/* Handle on hover */
#tbNot tbody::-webkit-scrollbar-thumb:hover {
    background: #546582; 
}
/*fim scroll*/
#tbNot{
    width: 636px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    color: #546582;
}
#tbNot thead{
    width: 636px;
    margin-bottom: 3.5px;
    height: 21.11px;
    display: inline-block;
}
#tbNot tbody{
    width: 636px;
    height: 62.37px;
    display: inline-block;
    overflow: auto;
}
#tbNot tr{
    width: 372px;
    height: 21.11px;
}
#tbNot th{
    width: 62.63px;
    height: 21.11px;
    padding: 0 23.37px 0 20px;
    text-align: center;
    font-weight: 500;
    color: rgba(84, 101, 130, 0.3);
}
#tbNot td{
    width: 62.63px;
    height: 21.11px;
    padding: 0 23.37px 0 20px;
    text-align: center;
}
.fundoTh{
    width: 62.63px;
    height: 18.11px;
    padding-top: 3px;
    background: #3E84D5;
    border-radius: 4px;
    text-align: center;
    color: #fff;
}
.prinDoen{
    width: 389px;
    height: 762px;
    margin-top: 88px;
    padding-left: 40px;
    border-left: 1px solid rgba(133, 143, 161, 0.1);
    float: left;
}
.prinDoen button{
    border: none;
    background: none;
    margin: 91px 0 0 166px;
}
.doencas{
    width: 363px;
    height: 518px;
    padding: 23px 0 0 23px;
    border: 1.4px solid rgba(133, 143, 161, 0.1);
    border-radius: 8px;
}
.especialidade{
    width: 323px;
    margin-bottom: 42px;
    padding: 10px 0 0 17px;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.especialidade select{
    width: 310px;
    height: 27px;
    font-size: 14px;
    border: none;
}
.doenca{
    width: 300px;
    height: 20px;
    margin-bottom: 5px;
    margin-left: 17px;
}
.doenca p{
    float: left;
    margin: 0;
}
.doenca svg{
    margin: 1px 15px 0 0;
    float: left;
}
#ativo{
    fill:#1CC4BF;
    stroke: #1CC4BF;
}
#desativado{
    fill:#B9BFC9;
} 