@import url(global.css);
/*
    Esse é o css para o rodapé composto e rodapé simples.
    
    O css para o rodapé composto começa na linha 9 e vai até a linha 126.

    O css para o rodapé simples começa na lina 128 e termina na linha 144.
*/

.rodapeComposto{
    width: 100%;
    padding-top: 93px;
    height: 417px;
    background-color: #f8f9fa;
    position: relative;
    bottom: 0;
}
.colunas{
    width: 1080px;
    padding: 0 160px;
    margin-left: auto;
    margin-right: auto;
    
}
.logoRodape{
    margin-top: 25px;
    float: left;
}
.coluna, .colunaDev{
    height: 135px;
    margin: 0 0 0 160px;
    float: left;
}
.coluna h3, .colunaDev h3{
    margin: 0  0 17px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #1CC4BF;
}
.coluna p{
    margin: 17px 0;

    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #546582;
}
.coluna a{
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #546582;
}
.colunaDev{
    width: 160px;
}
.colunaDev img{
    margin: 0 20px 20px 0;
}
#barra{
    width: 1078px;
    height: 1px;
    margin: 80px auto 60px auto;
    clear: both;
    background-color: rgba(84, 101, 130, 0.15);
}
.news{
    height: 61px;
    margin-left: 273px;
    float: left;
    
}
.news h1{
    margin-right: 100px;
    float: left;

    font-family: 'Mulish', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #1CC4BF;
}
.email{
    float: left;
    width: 553px;
    height: 62px;
    margin-bottom: 75px;
    background-color: #fff;
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.email:hover{
    border: 1.4px solid #858FA1;
}
#emailRodape{
    width: 384px;
    height: 60px;
    border: transparent;
    margin-left: 16px;

    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
.email ::placeholder{
    color: rgba(84, 101, 130, 0,5);
}
#btnEmail{
    width: 139px;
    height: 52px;
    border: transparent;
    border-radius: 8px;
    background-color: #1CC4BF;
    
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
#btnEmail:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
#btnEmail:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
}

.rodapeSimples{
    width: 100%;
    height: 40px;
    padding-top: 10px;
    background-color: #1CC4BF;
    position: relative;
    bottom: 0;
}
.rodapeSimples p{
    width: 485px;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #fff;
}