@import url(global.css);



.introFundo{
    width: 1080px;
    height: 619px;
    padding: 0 160px;
    margin: 65px auto 0 auto;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 620px 620px;
    background-image: url(/web/imagens/sobre1.png);
}

.intro{
    width: 523px;
    margin-top: 72px;
    color: #546582;
    float: left;
    font-family: 'Mulish', sans-serif;
}
.intro h1{
    margin: 0 0 15px 0;
    
    font-style: normal;
    font-size: 33px;
}
.intro p{
    margin: 0;
    width: 375px;
    font-size: 22px;
}
#hashtagIntro{
    margin-top: 54px;
    font-size: 22px;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #1CC4BF;
}
.fundoOQE{
    height: 422px;
    width: 100%;
    background: linear-gradient(131.22deg, rgba(0, 255, 255, 0.42) 40.91%, rgba(0, 255, 240, 0) 72.09%, rgba(255, 255, 255, 0) 72.09%), #1CC4BF;
    position: relative;
}
.fundoOQE img{
    position: absolute;
    bottom: 0px;
}
.OQEAgenda{
    width: 1080px;
    height: 326px;
    padding: 32px 160px 64px 85px;
    margin: 0 auto;
}
.txtOQE{
    width: 530px;
    margin-left: 710px;

    font-family: 'Mulish', sans-serif;
    color: #fff;
}
.txtOQE h1{
    width: 195px;
    font-size: 30px;
}
.txtOQE p{
    width: 495px;
    font-size: 18px;
}
.fundo{
    width: 100%;
    padding-top: 66px;
    background-image: linear-gradient(135deg, transparent 25%,  rgba(34, 196, 190, 0.1));
}
/*
    divisorias
*/
.divTeam, .divBene, .divCanal{
    width: 1080px;
    height: 105px;
    margin: 0 auto;
}
.divTeam p, .divBene p, .divCanal p{
    margin: 0;
    margin-right: 10px;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    color: #505F79;
    float: left;
}
.barraTeam, .barraBene, .barraCanal{
    height: 1px;
    margin: 10px 0;
    background-color: rgba(80, 95, 121, 0.1);
    float: left;
}
.barraTeam{
    width: 970px;
}
.barraBene{
    width: 806px;
}
.barraCanal{
    width: 846px;
}

.TeamUal{
    width: 1080px;
    height: 660px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
.TeamUaltext{
    margin-bottom: 66px;
}
.TeamUaltext h1{
    width: 284px;
    height: 76px;
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #546582;
}
.TeamUaltext p{
    width: 424px;
    height: 40px;
    margin: 0;
    font-size: 16px;
    color: #505F79;
}
.Perfil{
    width: 191px;
    height: 291px;
    padding: 7px;
    float: left;
    box-shadow: 0px 6px 15px rgba(0, 82, 204, 0.1);
    border-radius: 8px;
    text-align: center;
}
.Perfil h3{
    margin: 11px 0 0 0;
    font-size: 18px;
    color: #546582; 
}
.Perfil p{
    margin: 0;
    font-size: 12px;
    color: rgba(84, 101, 130, 0.4);
}
.Perfil svg{
    margin: 20px 12px 0 0; 
}
#margPer{
    margin-right: 13.5px;
}
.beneficios{
    width: 1080px;
    height: 949px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
.beneficios hr{
    border: 1px solid rgba(84, 101, 130, 0.1);
}
.beneficiosTxt{
    margin: 0 0 72px 0;
}
.beneficiosTxt h1{
    width: 454px;
    height: 76px;
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #546582;
}
.beneficiosTxt p{
    width: 415px;
    height: 40px;
    margin: 0;
    font-size: 16px;
    color: #505F79;
}
.beneficio{
    width: 319px;
    height: 180px;
    margin-top: 24px;
    float: left;
}
.beneficio h1{
    width: 50px;
    height: 50px;
    margin: 0;
    float: left;
    font-size: 27px;
    color: #1CC4BF;
}
.beneficio h3{
    width: 250px;
    height: 41px;
    margin: 0 0 20px 19px;
    float: left;
    font-size: 18px;
    color: #505F79;
}
.beneficio p{
    width: 250px;
    height: 84px;
    margin: 0 0 0 69px;
    float: left;
    font-size: 16px;
    color: #505F79;
}
#meioBene{
    margin: 24px 61px 0 61px;
}
.canalAten{
    width: 1080px;
    height: 522px;
    margin: 0 auto;
    font-family: 'Mulish', sans-serif;
}
.atendTxt{
    height: 188px;
}
.atendTxt h1{
    width: 382px;
    height: 76px;
    font-size: 30px;
    color: #546582;
}
.atendTxt p{
    width: 415px;
    height: 40px;
    font-size: 16px;
    color: #505F79;
}
.esquerdaForm{
    width: 422px;
    height: 214px;
    margin-right: 13px;
    float: left;
}
.atendNome, .atendEmail, .atendTel{
    width: 399.2px;
    height: 37.2px;
    padding: 10px;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.atendNome:hover, .atendEmail:hover, .atendTel:hover{
        border: 1.4px solid #858FA1;
}
.atendNome p, .atendEmail p, .atendTel p, .atendMsg{
    margin: 0 0 5px 0;
    font-size: 10px;
    color: #B9BFC9;
}
.atendNome input, .atendEmail input, .atendTel input{
    width: 394px;
    font-size: 16px;
    color: #858FA1;
    background-color: transparent;
    border: none;
}
#meioImput{
    margin: 12px 0 22px 0;
}
.atendMen{
    width: 622.2px;
    height: 109.2px;
    padding: 10px;
    float: left;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.atendMsg{
    width: 622.2px;
    height: 109.2px;
    margin-bottom: 22px;
    padding: 10px;
    float: left;
    background-color: rgba(250, 250, 250, 0.2);
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
}
.atendMsg textarea{
    width: 618px;
    height: 75px;
    resize: none;
    outline: none;
    border: none;
    background-color: transparent;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}
.atendMsg textarea::placeholder{
    color:#858FA1;
}
.atendCheck{
    width: 333px;
    margin-top: 15px;
    float: left;
}
.atendCheck input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-right: 12px;
    border-radius: 8px;
}
.atendCheck label{
    font-size: 16px;
    color: #858FA1;
}

.atendForm button{
    width: 235px;
    height: 60px;
    margin-left: 76px;
    border: transparent;
    border-radius: 8px;
    background-color: #1CC4BF;
    
    float: left;
    font-family: 'Mulish', sans-serif;
    font-size: 15.5px;
    font-weight: 600;
    color: #fff;
}
.atendForm button:hover{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
}
.atendForm button:focus{
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(28, 196, 191, 0.3);
}




