@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    border:0;
}
body{
    height:150vh;
}
#container-landing{
    max-width: 1080px;
    margin: 0 auto;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:33px 0 0 0;
    margin-bottom:67.3px;
}
#container-landing ul li:nth-child(2){
    color:#166CD0;
    font-weight: bold;
}
#container-landing ul li{
    display: inline;
    padding: 0 30px;
    color:#546582;
    font:normal 16px 'Mulish', sans-serif;
    cursor:pointer;
}
#container-landing ul li:not(li:nth-child(3)){
    position:relative;
    bottom:13px;
}
#container-landing ul li span{
    margin-left:20px;
    position:relative;
    bottom:4px;
}
#container-landing .main-page{
    margin-bottom:123px;
}
#container-landing .main-page .back,
#container-landing .margin{
    margin-bottom:60px;
}
#container-landing .margin{
    margin-top:60px;
}
#container-landing .main-page .margin span{
    margin-left:10px;
    font:bold 25px 'Mulish', sans-serif;
    color:#166CD0;
    margin-bottom:46px;
    position:relative;
    bottom:5px;
}
#container-landing .main-page .form-container{
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    padding:31px;
    margin-right:20px;
}
#container-landing .first-block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container-landing form .input-block{
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
    width:100%;
    padding:10px 8px;
}
#container-landing form .input-block:first-child{
    margin-bottom:15px;
}
#container-landing form .input-block:nth-child(2) p{
    margin-bottom:13px;
}
#container-landing form .input-block p{
    font:400 10px 'Mulish', sans-serif;
    color:#B9BFC9;
    margin-bottom:5px;
}
#container-landing .input-block input, textarea{
    width:100%;
    color:#858FA1;
}
#container-landing .input-block input::placeholder, input{
    font:400 16px 'Mulish', sans-serif;
    color:#858FA1;
}
#container-landing form input[type="submit"]{
    margin-top:78px;
    float:right;
    background: linear-gradient(262.86deg, rgba(0, 255, 240, 0.2) 54.35%, rgba(255, 255, 255, 0) 104.08%), #1CC4BF;
    border-radius: 8px;
    color:#fff;
    letter-spacing: 0.2px;
    font-size: 15.5px;
    font-weight: bold;
    padding:15px 0;
    width:235px;
    cursor:pointer;
}
#container-landing form .submit-button{
    width:100%;
}
#container-landing form input[type="submit"]:hover{
    letter-spacing: 0.4;
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    box-shadow: 0px 10px 25px rgba(0, 255, 240, 0.25);
    transition:letter-spacing ease 250ms, box-shadow 250ms;
}
#container-landing .input-block:hover{
    border: 1.4px solid #858FA1;
    transition: border 250ms;
}
