@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    border:0;
}
#container-landing{
    max-width: 1080px;
    margin: 0 auto;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:33px 0 0 0;
    margin-bottom:67.3px;
}
#container-landing ul{
    position: relative;
    bottom:15px;
}
#container-landing ul li{
    display: inline;
    padding: 0 30px;
    color:#546582;
    font:normal 16px 'Mulish', sans-serif;
    cursor:pointer;
}
#container-landing ul li:nth-child(2){
    position:relative;
    top:10px;
}
#container-landing ul li span{
    margin-left:20px;
    position:relative;
    bottom:4px;
}
#container-landing .main-page{
    margin-bottom:123px;
}
#container-landing .main-page .back,
#container-landing .margin{
    margin-bottom:60px;
}
#container-landing .margin{
    margin-top:60px;
}
#container-landing .main-page .margin span{
    margin-left:10px;
    font:bold 25px 'Mulish', sans-serif;
    color:#166CD0;
    margin-bottom:46px;
    position: relative;
    bottom:3px;
}
#container-landing .main-page .form-container{
    margin-top:46px;
    border: 1.4px solid rgba(84, 101, 130, 0.1);
    border-radius: 8px;
    padding:40px;
}
#container-landing .main-page .form-container h3{
    font-weight:bold;
    color:#505F79;
    font-size:25px;
}
#container-landing .form-container .profile-block{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
#container-landing .profile-block .profile-about{
    margin-left:27.05px;
    margin-bottom:84px;
}
#container-landing .profile-block .profile-about p{
    color:#858FA1;
    margin-bottom:17px;
}
#container-landing .profile-block span{
    color:#1CC4BF;
    font-weight: 600;
    font-size: 14px;
}
#container-landing .profile-block .update{
    cursor:pointer;
}
#container-landing .first-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#container-landing .first-block{
    margin-bottom:15px;
}
#container-landing .first-block .input-block:nth-child(1){
   width:1000px;
}
#container-landing .first-block .input-block:nth-child(2){
    margin: 0 15px;
}
#container-landing .second-block .input-block:nth-child(2){
    margin:0 15px;
}
#container-landing .first-block .input-block:nth-child(3){
    margin-right:15px;
    width:550px;
}
#container-landing form .input-block{
    border: 1.4px solid rgba(80, 95, 121, 0.1);
    border-radius: 8px;
    width:100%;
    padding:10px 8px;
}
#container-landing form .input-block p{
    font:400 10px 'Mulish', sans-serif;
    color:#B9BFC9;
    margin-bottom:5px;
}
#container-landing form .input-block p:last-child{
    font-size: 16px;
}
#container-landing input{
    width:100%;
    color:#858FA1;
    font:400 16px 'Mulish', sans-serif;
}
#container-landing input::placeholder{
    color: rgba(133, 143, 161, 0.5);
    font:400 16px 'Mulish', sans-serif;
}
#container-landing input[type="submit"]{
   padding:20px 0;
   background: #1CC4BF;
   border-radius: 8px;
   color:#fff;
   font-weight:700;
   cursor:pointer;
}
#container-landing input[type="submit"]:hover{
    letter-spacing: 0.4px;
    background: linear-gradient(258.4deg, rgba(0, 255, 240, 0.43) 58.84%, rgba(255, 255, 255, 0) 101.8%), #1CC4BF;
    transition:letter-spacing 250ms ease-in-out;
}
#container-landing .input-block:hover{
    border: 1.4px solid #858FA1;
    transition: border 250ms;
}
